#brand-section{
  margin-top: 15px;
}

.brand-section{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.admin-brand-card {
  background-color: #fff;
  padding: 15px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  height: 130px;
  margin-top: 70px;
}

.admin-brand-card > .card-body {
  border: #ccc 1px solid;
  position: absolute;
  border-radius: 50%;
  background-color: var(--secondary-color);
  width: 130px;
  height: 130px;
  margin: 0 auto;
  top: -5px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.admin-brand-card > .card-body > strong{
  display: block;
  margin-top: 55px;
  text-align: center;
  color: #fff;
}

.admin-brand-card > .card-footer{
  position: absolute;
  bottom: 10px;
  width: 210px;
}

.admin-brand-card > .card-footer > span i:hover{
  color: var(--primary-color);
}

.admin-brand-card > .card-footer > span i{
  cursor: pointer;
  color: var(--primary-color);
  float: right;
  margin-top: 4px;
}

.brand-title {
  margin-left: 10px;
}

.form-add-brand {
  padding-bottom: 15px;
  border-bottom: #ccc solid .5px;
}

.brand-name {
  width: 30%;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}

.brand-button {
  height: 30px;
  width: 60px;
  color: #fff;
  border: none;
  background-color: var(--secondary-color);
}

.brand-navigator {
  margin-top: 10px;
}

.brand-navigator > div > button {
  cursor: pointer;
}

